<html lang="en">

<head>
    <title>login</title>
</head>

<body>

<h1>Login</h1>

{{ form_start(form) }}
{{ form_errors(form) }}
{{ form_row(form._username, {label: 'Username', translation_domain: false}) }}
{{ form_row(form._password, {label: 'Password', translation_domain: false}) }}
{{ form_row(form.remember, {label: 'Remember me', required: false, translation_domain: false}) }}
{{ form_row(form.submit, {translation_domain: false}) }}
{{ form_end(form) }}

</body>

</html>